.not-found {
    background: #FFF;
    width: 100%;
    max-width: 1280px;
    margin: 0;
    padding-top: 246px;
}

.not-found__error {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
    color: #000000;
    margin-bottom: 5px;
    margin-top: 0;
}

.not-found__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-top: 0;
    margin-bottom: 184px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: auto;
}

.not-found__back {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 614px;
    color: #3456F3;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #FFF;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: auto;
}

.not-found__back:hover {
    opacity: 0.7;
}