.header {
    background: #FFF;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    position: relative;
    padding: 19px 70px 15px;
}

.header_dark-theme {
    background-color: #073042;
}

.header__place_login {
    padding: 70px 800px 37px 434px;
}

.logo {
    width: 38px;
    height: 38px;
}

.header__link {
    color: #000;
    position: absolute;
    top: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: auto;
}

.header__link:hover {
    opacity: 0.7;
}

.link-active {
    font-weight: 500;
}

.header__link_movies {
    top: 30px;
    left: 155px;
}

.header__link_save {
    top: 30px;
    left: 225px;
}

.header__link_profile {
    top: 21px;
    right: 70px;
    width: 100px;
    height: 30px;
}

.header__link_dark-theme {
    color: #fff;
    position: absolute;
    right: 176px;
    top: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: auto;
}

.header__link_dark-theme:hover {
    opacity: .7;
}

.header__link-login {
    color: #000;
    position: absolute;
    right: 70px;
    top: 21px;
    width: 76px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    background-color: #2BE080;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: auto;
}

.header__link-login:hover {
    opacity: 0.8;
}

.logo:hover {
    opacity: 0.8;
}

/* @media (max-width: 320px) {
    .logo {
        width: 103.74px;
        height: 24.4px;
        margin-left: 27px;
        margin-bottom: 27.6px;
    }
} */