.footer {
    max-width: 1280px;
    background-color: #FFF;
    padding: 79px 70px 20px;
}

.footer__info {
    font-weight: 400;
    font-family: inter;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 20px;
    margin: 0 0 20px;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
}

.footer__info_copyright-year {
    width: 938px;
    text-align: left;
}

.footer__info_copyright {
    color: #000;
    border-bottom: none;
    padding-bottom: 0;
    margin: 0 0;
}