.more-movies {
    max-width: 1280px;
    display: flex;
    padding: 61px 0px 82px;
}

/* .more-movies {
    max-width: 1280px;
    display: grid;
    grid-column: 1 / 4 span;
    padding: 61px 0px 82px;
} */



.more-movies__button {
    margin: auto;
    width: 320px;
    height: 36px;
    background: #F9F9F9;
    border: none;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: auto;
}

.more-movies__button:hover {
    opacity: 0.8;
}

@media (max-width: 1230px) {
    .more-movies {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .more-movies {
        padding: 61px 0px 89px;
        /* margin-top: -121px; */
    }
}

@media (max-width: 767px) {
    .more-movies {
        padding: 61px 0px 124px;
        /* margin-top: -378px; */
    }
}

@media (max-width: 767px) {
    .more-movies__button {
        width: 240px;
        height: 36px;
    }
}